// @mixin desktop {
//     @media(max-width: 700px) {
        
//     }
// }

@mixin center () {
    display: flex;
    align-content: center;
    justify-content: center;

}

@mixin hover-effect() {
    box-shadow: 0 0 15px var(--color-accent2);
    transform: scale(1.05);
    @content
}

@mixin border-style() {
    border: 2px solid rgb(231, 173, 211);
}

@mixin button-style() {
        background-color: var( --color-button-bg);
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        border: 2px solid var(--color-accent2);
        cursor: pointer;
        transition: var(--transition);
        outline: none;
        font-weight: 500;
        text-transform: uppercase;
}