:root{
    --color-accent: #6540bf;
    --color-accent2: #7b3c9a;
    --color-accent3:#f69ee1;
    --color-bg: #f0f0ee;
    --color-bg-violet:#9890e3;
    --color-bg-rose: #f4b8bc;
    --color-button-bg: #f4b8bc;
    --transition: 0.3s;
    --color-input-bg:  #f6cbce;
    --color-shadow-accent: rgb(231, 173, 211);
}

