.input {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-input-bg);
    border: 1px  rgb(185, 166, 166);
    border-radius: 20px;
    padding: 20px;


    &__text{
        border: 1px solid var(--color-accent2);
        border-radius: 10px;
        background-color: var(--color-bg);
        width: 70%;

    }

    &__btn{
        background-color: var( --color-button-bg);
        padding: 10px 15px;
        border-radius: 10px;
        border: 2px solid var(--color-accent2);
        cursor: pointer;
        transition: var(--transition);
        outline: none;

        &:hover{
            box-shadow: 0 0 15px var(--color-accent2);
            transform: scale(1.05);

        }

        &:active{
            opacity: 0.5;
            transform: scale(0.8);

        }
    }
}