@import "../../style/mixins";
.todo-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 30px 0 30px 0;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
      30deg,
      var(--color-bg-rose),
      var(--color-bg)
    );
    @include border-style();
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
  }
}
